/* default values */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    font-family: var(--main-font);
}
html, body{ 
    overflow-x: hidden; 
}


.title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--header-color);
}
.title-line{
    width: 100px;
    height: 5px;
    background-color: var(--main-blue);
}
.header{
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--header-color);
    position: relative;
}
.header::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--main-blue);
    bottom: -5px;
    left: 0;
}
.card-title{
    text-transform: capitalize;
    font-size: 1.25rem;
    color: var(--header-color);
}
.paragraph{
    font-size: 1rem;
    color: var(--paragraph-color);
}


/* variables */
:root{
    --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
    --main-blue: #0078FF;
    --main-white: white;
    --light-blue: #CDE1F8;
    --dark-blue: #0062d3;

    --header-color: #1E1E1E;
    --paragraph-color: #4E4E4E;

    --main-spacing: 4rem;

    --background-grey: #F5F5F5;
}



/* navigation bar */
.navbar{
    overflow: visible !important;
    background-color: transparent;
}
.navbar-nav-scroll{
    background-color:  rgba(0, 0, 0, 0.9);
}
.dropdown:hover >.dropdown-menu{
    display: block !important;
}
.dropdown >.dropdown-submenu{
    left: 100px;
}
.dropdown-menu.dropdwon-submenu.show{
    left: -100% !important;
}
.navbar-brand{
    font-weight: 500;
}
.nav-item{
    padding: 1rem;
}
.navbar-nav .nav-item .nav-link{
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0 5px 0;
    position: relative;
}
.navbar-nav .nav-item .nav-link.active{
    position: relative;
}
.navbar-nav .nav-item .nav-link::after,
.navbar-nav .nav-item .nav-link.active::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    border: none;
    transition: width 0.5s;
}
.navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}
.navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}




/* home section */
#home{
    min-height: 100vh;
    background: url('../images/hero-bg.jpg') rgba(0, 0, 0, 0.7) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: multiply;
}
#home .title{
    font-size: 4rem;
}


/* About section */
#about{
    background-color: var(--background-grey);
    padding: var(--main-spacing);
}
#about .container{
    padding: var(--main-spacing);
}
#about .skills-section li{
    margin-top: 1rem;
}
#about .skills-section li .paragraph{
    text-transform: uppercase;
    font-weight: 300;
}
#about .col-lg-6 .paragraph.pt-1, 
#contact p{
    font-size: 1.25rem;
    font-weight: 300;
}

#about .progress-bar{
    background-color: var(--main-blue);
}
#about .progress-bar, #about .progress{
    height: 0.7rem;
}


/*services section*/
#services{
    min-height: fit-content;
    padding: var(--main-spacing);
    background-color: var(--background-grey);
}
#services .container{
    margin-top: var(--main-spacing);
}
#services .services-card{
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.1);
}

.services-card-icon{
    margin: auto;
    margin-bottom: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--header-color);
    box-shadow: 0px 0px 0px 10px var(--main-blue);
    transition: color 0.5s ,background-color 0.5s ,box-shadow 0.5s;

}
#services .services-card:hover .services-card-icon{
    color: var(--main-white);
    background-color: var(--main-blue);
    box-shadow: 0px 0px 0px 10px var(--light-blue)
}



/* counter section */
#counter{
    min-height: fit-content;
    padding: var(--main-spacing);
    background: url('../images/counters-bg.jpg') #0077ff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: soft-light;
}
#counter .counter-card{
    margin-top: 2rem;
}
.counter-card-icon{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--main-white);
    box-shadow: 0px 0px 0px 10px var(--light-blue);
}

/*counter animation*/
.counter-item-value{
    color: var(--main-white);
    animation: counter 2s 10s alternate ease-in-out;
    counter-reset: num var(--num);
}
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
.counter-item-value::after{
    content: counter(num);
  }
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 25;
    }
  }

/***********************/



/*portfolio section */
#portfolio{
    height: fit-content;
    padding: var(--main-spacing);
    background-color: var(--background-grey);
}
#portfolio .container{
    margin-top: var(--main-spacing);
}
.portfolio-card{
    margin-top: 2rem;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.portfolio-card img{
    transition: transform 0.8s;
}
.portfolio-card-image{
    overflow: hidden;
}
.portfolio-card:hover img{
    transform: scale(1.3);
}

.portfolio-card-caption{
    padding: 1rem;
}
.portfolio-card-caption p span{
    color: var(--main-blue);
    margin-right: 10px;
}
.portfolio-card-caption i{
    font-size: 2.5rem;
    color: var(--main-blue);
}
.portfolio-card-caption .row .col-sm-4{
    display: flex;
    justify-content: end;
    align-items: center;
}


/*carouselle section */
#carousel{
    min-height: fit-content;
    padding: var(--main-spacing);
    background: url('../images/overlay-bg.jpg') #0077ff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: soft-light;
}
#carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

/* blog section */
#blog{
    background-color: var(--background-grey);
    padding: var(--main-spacing);
}
#blog .container{
    margin-top: var(--main-spacing);
}
.blog-card{
    border: 1px #1E1E1E40 solid;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.1);
}



.card-layer{
    position: relative;
}
.card-layer p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: var(--main-blue);
    color: var(--main-white);
    width: fit-content;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

.blog-card-caption{
    padding: 1rem;
}
.blog-card-caption .card-title{
    margin-top: 1rem;
}

.blog-card-footer{
    display: flex;
    background-color: var(--background-grey);
    border-top: 1px #1E1E1E40 solid;
}
.blog-card-footer .col-8,
.blog-card-footer .col-4 
{
    margin-top: 10px;
    display: flex;
}

.blog-card-footer img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    border-radius: 50%;
}

.blog-card-footer .col-4{
    align-items: baseline;
}
.blog-card-footer .col-4 i{
    margin-right: 10px;
}

/* contact section */
#contact{
    padding: var(--main-spacing);
    background: url('../images/overlay-bg.jpg') #0077ff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: soft-light;
}
#contact .container{
    margin-top: var(--main-spacing);
    padding: 2rem;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.1);

}
#contact .header{
    margin-bottom: 2rem;
}

.form-btn{
    margin: 1rem 0;
    border-radius: 100px;
}
.contact-caption-list,
.contact-social-list ul{
    padding: 0;
}
.contact-caption-list li{
    margin-top: 10px;
}
.contact-caption-list .fa-solid{
    margin-right: 10px;
    color: var(--main-blue);
}

.contact-social-list i{
    color: var(--header-color);
    transition: color 0.5s;
}
.contact-social-list li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 0px 0px 0px 3px var(--main-blue);
    transition: all 0.5s;
}
.contact-social-list li:hover{
    background-color: var(--main-blue);
    box-shadow: 0px 0px 0px 3px var(--light-blue)
}

.contact-social-list li:hover i{
    color: var(--main-white);
}


/*footer section */
#footer{
    background-color: var(--dark-blue);
    padding: 1rem;
}
.arrow-up-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
    z-index: 10;
}

.arrow-up-btn i{
    color: var(--main-white);
}





/*home page animation*/
.text_1 {
    animation: text1;
}
.text_2 {
    animation: text2;
}

.text_1, .text_2{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 5px 0;
    overflow: hidden;
    text-transform: capitalize;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(10, end);
    animation-iteration-count: infinite;
  }
  
.text_1::after, .text_2::after{
    content: "|";
    position: absolute;
    right: -5px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }
  

 


@keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 7em;
    }
}
  
@keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 5em;
    }
}
  
@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}